html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 60%;
    margin: 30px auto;
    display: block;
	height: auto;
}

.imgBlock{
	padding: 25px 0;
}

#submit-button{
	background-color: #4caf50;
	color: white;
}

#stop-button {
	background-color: #f44336;
	color: white;
}

#test-button:hover {
	background-color: #1e88e5;
}
  
#stop-button:hover {
	background-color: #d32f2f;
}

#submit-button:hover {
	background-color: #438646;
}

.table-container {
	max-height: 350px;
	overflow-y: auto;
	margin-top: 20px;
}

.grouped-table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	margin: 5px 0;
	background-color: #ffffff4e;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}

th {
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

td {
	border: 1px solid #f2f2f223;
	padding: 10px;
	text-align: center;
}

tbody:nth-child(odd) tr {
	background-color: #f2f2f20e;
}