html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	width: 60%;
	max-width: 190px;
    margin: 30px auto;
    display: block;
	height: auto;
}

.imgBlock{
	padding: 25px 0;
}

#button-container{
	margin: auto;
	max-width: 750px; 
}

button{
	margin: 3px auto;
	color: white;
	border-radius: 10px;
}

#submit-button{
	background-color: #4caf50;
}

#run-button {
	background-color: #3646f4;
}

#test-button:hover {
	background-color: #1e88e5;
}
  
#run-button:hover {
	background-color: #482fd3;
}

#submit-button:hover {
	background-color: #438646;
}

.main-container {
	width: 100%;
	max-height: 350px;
	overflow-y: auto;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
body{
	background-color: #161B22;
}
.submissionContainer{
	background-color: #242D36;
	border-radius: 25px;
	width: 98%;
	max-width: 750px;
	margin: 10px auto;
	padding: 15px 10px;
	display: grid;
	grid-template-columns: 105px auto;
	color: white;
}
.submissionInfo{
	width: 532px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.submissionInfoInner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}
.submissionInfoInnerInner{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
	width: 240px;
}
:root {
		--progress-bar-size: 90px;
		--font-size: 20px;
}
.circular-progress {
  	width: var(--progress-bar-size);
  	height: var(--progress-bar-size);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.inner-circle {
	position: relative;
  	width: calc(var(--progress-bar-size) - 35px);
  	height: calc(var(--progress-bar-size) - 35px);
	border-radius: 50%;
	color: aliceblue;
}
.percentage {
	position: relative;
	color: white;
	font-size: var(--font-size);
	text-align: center;
	top: 25%;
}
.test-case{
	background-color: #A4C739;
	width: 66px;
	border-radius: 40px;
	height: 26px;
	text-align: center;
	padding: 5px;
	font-size: 10px;
	color: #000000;
	margin: 5px;
}
.view-sol-btn{
	color: #FFFFFF;
	background-color: #6B7B8B;
	width: 120px;
	height: 24px;
	font-size: 10px;
	border-radius: 40px;
	padding: 4px;
	text-align: center;
}
.test-case-container{
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 720px) {
	.submissionInfo{
		width: 70vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

}
@media (max-width: 275px) {
	.submissionContainer{
		display: flex;
		flex-direction: column;
		padding: auto;
	}

}
@media (max-width: 550px) {
	.view-sol-btn{
		color: #FFFFFF;
		background-color: #6B7B8B;
		width: 100%;
		height: 24px;
		font-size: 10px;
		border-radius: 40px;
		padding: 4px;
	}
	.submissionInfo{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.submissionInfoInner{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: auto;
		margin-bottom: 10px;
		flex-wrap: wrap;
	}
	.submissionInfoInnerInner{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
		width: auto;
	}
}  