html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
    margin: 30px auto;
    display: block;
	height: auto;
}

.imgBlock{
	padding: 25px 0;
}

.submit-button{
	background-color: #4caf50;
	color: white;
}

.stop-button {
	background-color: #f44336;
	color: white;
}

.test-button:hover {
	background-color: #1e88e5;
}
  
.stop-button:hover {
	background-color: #d32f2f;
}

.submit-button:hover {
	background-color: #438646;
}

#tableContainer {
	height: 350px;
	overflow-y: auto; /* This enables the vertical scroll when content exceeds the height */
	border: 2px solid rgba(255, 255, 255, 0.492);
	margin: 10px 0;
}

table {
	width: 100%;
}
  
th,
td {
	padding: 5px;
	border: 1px solid #cccccc1f;
}
  
th {
	background-color: #eeeeee31;
	font-weight: bold;
}